<section class="order about">
  <div class="container">
    <div class="">
      <div class="order-text-title double-title">
        <span>Лучшая</span>
        итальянская пиццерия!
      </div>
      <div class="order-text-message">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab ad aperiam, blanditiis dolore eaque eius excepturi
        expedita facilis hic in ipsa, ipsam iusto libero maiores quae quaerat, sunt vero voluptates!
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab ad aperiam, blanditiis dolore eaque eius excepturi
        expedita facilis hic in ipsa, ipsam iusto libero maiores quae quaerat, sunt vero voluptates!
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab ad aperiam, blanditiis dolore eaque eius excepturi
        expedita facilis hic in ipsa, ipsam iusto libero maiores quae quaerat, sunt vero voluptates!
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab ad aperiam, blanditiis dolore eaque eius excepturi
        expedita facilis hic in ipsa, ipsam iusto libero maiores quae quaerat, sunt vero voluptates!
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab ad aperiam, blanditiis dolore eaque eius excepturi
        expedita facilis hic in ipsa, ipsam iusto libero maiores quae quaerat, sunt vero voluptates!
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab ad aperiam, blanditiis dolore eaque eius excepturi
        expedita facilis hic in ipsa, ipsam iusto libero maiores quae quaerat, sunt vero voluptates!
      </div>
    </div>

    <div class="about-image">
      <img src="./../../../../assets/images/pizza_big.png">
    </div>
  </div>
</section>
